*{
    padding: 0;
    margin: 0;
}


/* Estilos del Slide */
main{
    width: 80vw;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
}

.slide-container{
    display: flex;
    width: 100%;
    height: 100%; /**/
    border-radius: 25px;
    /* overflow-x: hidden;*/
    
}

.slide_section{
    width: 100%;
     height: 100%; /**/
    flex-shrink: 0;
}
.slide_section img{
    width: 100%;
    height: 100%;
}

.slide_section .slide-desc{
    background-color: rgba(0,0,0,.5);
    position: relative;
    transform: translateY(-100%);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    /* border-radius: 0 0 15px 15px; */
}

.button_container{
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 150px;
    width: 45px;
    justify-content: space-evenly;
    align-items: center;
    top: 50%;
    bottom: 50%;
    left: 0;
    margin-left: 20px;
    transform: translateY(-80%);
    background-color: rgba(0,0,0,.8);
}

.button_slide{
    background-color: rgba(0,0,0,.5);
    width: 20px;
    height: 20px;
    border: white solid 2px;
}

.button_slide.active{
    transform: scale(2);
}
#btn_slid1{
    background-image: url("../img/slide/industrial.jpg");
    background-size: cover;
}

#btn_slid2{
    background-image: url("../img/slide/altura.jpeg");
    background-size: cover;
}

#btn_slid3{
    background-image: url("../img/slide/inst-elect.jpg");
    background-size: cover;
}
.button_slide:hover{
    transform: scale(2);
}

@media(max-width:735px) {
    h1{
        font-size: 1.4rem;
    }

    h2, section h2.section-heading {
        font-size: 1.2rem;
    }
    #imglogoprincipal{
        width: 70px;
        height: 70px;
    }

    .slide_section .slide-desc{
        height: 110px;
    }
    .button_container{
        display: flex;
        flex-direction: row;
        height: 45px;
        width: 150px;
        justify-content: space-evenly;
        align-items: center;
        left: 30vw;
        /*margin-top: 50px;
        right: 50%;
         margin-left: 20px; 
         transform: translateX(-50%); */
        transform: translateY(15vh);
    }
    main{
        height: 500px;
    }

    .slide-container{
        height: 80%;
    }

    /* .container_buttons{
        display: block;

    } */
}


@media(max-width:500px) {
    h1{
        font-size: 1.2rem;
    }

    h2, section h2.section-heading {
        font-size: 1rem;
    }

    .slide-container p{
        font-size: 0.8rem;
        line-height: 0.9rem;
    }
}



