
body {
    background-color: #f9f9fa
}

/* Estilos del Slide */
main{
    width: 80vw;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
}

.slide-container{
    display: flex;
    width: 100%;
    height: 100%; /**/
    border-radius: 25px;
    /* overflow-x: hidden;*/
    
}

.slide_section{
    width: 100%;
     height: 100%; /**/
    flex-shrink: 0;
}
.slide_section img{
    width: 100%;
    height: 100%;
}

.slide_section .slide-desc{
    background-color: rgba(0,0,0,.5);
    position: relative;
    transform: translateY(-100%);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    /* border-radius: 0 0 15px 15px; */
}

.button_container{
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 150px;
    width: 45px;
    justify-content: space-evenly;
    align-items: center;
    top: 50%;
    bottom: 50%;
    left: 0;
    margin-left: 20px;
    transform: translateY(-80%);
    background-color: rgba(0,0,0,.8);
}

.button_slide{
    background-color: rgba(0,0,0,.5);
    width: 20px;
    height: 20px;
    border: white solid 2px;
}

.button_slide.active{
    transform: scale(2);
}
#btn_slid1{
    background-image: url("../img/slide/industrial.jpg");
    background-size: cover;
}

#btn_slid2{
    background-image: url("../img/slide/altura.jpeg");
    background-size: cover;
}

#btn_slid3{
    background-image: url("../img/slide/inst-elect.jpg");
    background-size: cover;
}
.button_slide:hover{
    transform: scale(2);
}

@media(max-width:735px) {
    h1{
        font-size: 1.4rem;
    }

    h2, section h2.section-heading {
        font-size: 1.2rem;
    }
    #imglogoprincipal{
        width: 70px;
        height: 70px;
    }

    .slide_section .slide-desc{
        height: 110px;
    }
    .button_container{
        display: flex;
        flex-direction: row;
        height: 45px;
        width: 150px;
        justify-content: space-evenly;
        align-items: center;
        left: 30vw;
        /*margin-top: 50px;
        right: 50%;
         margin-left: 20px; 
         transform: translateX(-50%); */
        transform: translateY(50%);
    }
    main{
        height: 500px;
        margin-top: 5%;
    }

    .slide-container{
        height: 80%;
    }

    .row ~ .coursers {
        display: flex;
        justify-content: center;
    }
}


@media(max-width:500px) {
    h1{
        font-size: 1.2rem;
    }

    h2, section h2.section-heading {
        font-size: 1rem;
    }

    .slide-container p{
        font-size: 0.8rem;
        line-height: 0.9rem;
    }

    .button_container{
        transform: translateY(150%);
    }
}

@media(max-width:450px) {

    .button_container{
        transform: translateY(150%);
    }
}
@media(max-width:350px) {

    .button_container{
        transform: translateY(270%);
    }
}



/* --------------------Estilos CARDS--------------------*/
.row ~ .coursers {
    display: flex;
    justify-content: space-around;
}

.coursers ~ .row .card{
    max-width: 18rem;
    margin-bottom: 50px;
    text-align: center;
}

.coursers ~ .row .card:hover {
    transform: scale(1.15);
    box-shadow: 3px 3px 3px grey;
}

.coursers ~ .row .card a:hover {
    color: #fff;
    background-color: #8e876e;
}

.coursers ~ .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

.img-fluid{
    height: 120px;
}

.coursers ~ .card-body p{
    margin-top: 15px;  
}
.coursers .textcourse {
    font-size: 1.2rem;
}

@media (min-width: 768px){
    section {
        padding: 100px 0;
    } 
}

/*-------------------------------------------------------------MODAL---------------------------------------------------------*/
.modal-content {
    width: 100%;
}

.inf-course img {
    width: 100%;
}


/* ----------------------------------------------Registro------------------------------------------------ */
#info-pago{
    margin-top: 20vh;
}
.contact-clean {
    padding: 25px 0;
}
.contact-clean form {
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.contact-clean form img{
    width: 30%;
    border: solid 3px gray;
    border-radius: 50%;
}

.contact-clean h2 {
    margin-top: 5px;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 36px;
    color: inherit;
}

.contact-clean .form-group:last-child {
    margin-bottom: 5px;
}

.contact-clean form .form-control {
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
    outline: none;
    color: inherit;
    padding-left: 12px;
    height: 42px;
}

.contact-clean form .form-control:focus {
    border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
    min-height: 100px;
    max-height: 260px;
    padding-top: 10px;
    resize: vertical;
}

.contact-clean form select {
    width: 100%;
}

.contact-clean form .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
    outline: none !important;
}

.contact-clean form .btn:hover {
    opacity: 1;
}

.contact-clean form .btn:active {
    transform: translateY(1px);
}

.contact-clean form .btn-primary {
    background-color: #055ada !important;
    margin-top: 15px;
    color: #fff;
}


@media (max-width:767px) {
    #info-pago{
        margin-top: 15vh;
    }
    .contact-clean {
        padding: 20px 0;
    }
    .contact-clean form {
        padding: 30px;
    }
}